build/
build*/
rabbit_depth
rabbit_overlap
rabbitbin
*.o
.sconsign.dblite
test/*.bins.txt.fa
test/*.depth*
test/*.pruned.*
samtools*
/include/
/lib/
bin
/.autotools
/.cproject
.settings
/.project
/.pydevproject
/Build (GNU)/
